h1 {
  color: blue;
  font-weight: normal;
  font-family: Roboto, Helvetica;
}

p {
  font-size: 20px;
}

section p strong {
  color: red;
}

strong,
em {
  font-size: 26px;
}

strong {
  color: green;
}

#titulo {
  text-align: center;
}

.btn {
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
}

.btn-azul {
  background-color: blue;
  color: #ffffff;
}

.btn-azul:hover {
  background-color: #020275;
  cursor: pointer;
}

input:required {
  border-color: red;
  border-width: 5px;
}

.circulo {
  width: 200px;
  height: 200px;
  background-color: tomato;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.circulo p {
  margin: 10px;
}
